* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1.7em;
	color: #7f8c8d;
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	color: #34495e;
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

.pure-button {
	border-radius: 5px;
}

a.pure-button-primary {
	background: white;
	color: #1f8dd6;
	border-radius: 5px;
	font-size: 120%;
}

.home-menu {
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu.pure-menu-open {
	background: #2d3e50;
}

.home-menu .pure-menu-heading {
	color: white;
	font-weight: 400;
	font-size: 120%;
}

.home-menu .pure-menu-selected a {
	color: white;
}

.home-menu a {
	color: #6FBEF3;
}

.home-menu li a:hover {
	background: none;
	color: #AECFE5;
}

.home-menu li a:focus {
	background: none;
}

.home-menu {
	text-align: left;
}

.home-menu ul {
	float: right;
}

li { list-style-type: none; }

.pure-form-aligned div.pure-control-group > label {
	width: 11.5em;
}

fieldset > legend {
	font-weight: bold;
}

span > label {
	width: auto !important;
	margin: 0 1em 0 3px !important;
}

.formtable th {
	padding-right: 5px;
	text-align: right;
	vertical-align: top;
	color: #34495e;
	font-weight: normal;
}

.formtable ul {
	margin: 0;
	padding: 0;
}

@media(max-width:1070px) {
	.pure-menu li a {
		padding: 5px 10px;
	}
}

@media(max-width:930px) {
	.home-menu.pure-menu > a.pure-menu-heading {
		display: none;
	}
}

@media(max-width:700px) {
	.pure-menu li a {
		padding: 5px 5px;
	}
}
